/*navbar_style*/
.navbar{
	display: flex;
}
#home{
	background: MidnightBlue ;
	border-radius: 5px;
}
.dropdown-item{
	
	position: relative;
}

.dropdown-item::after{
	content: '';
	height:0%;
	width:2px;
	bottom: 0;
	right: 0;
	position: absolute;
	background: black;
	transition: height 0.5s;
}
.dropdown-item:hover::after{
	height: 100%;
}

.dropdown-item::before{
	content: '';
	height: 2px;
	width:0%;
	bottom: 0;
	right: 0;
	position: absolute;
	background: black;
	transition: width 0.25s;
}
.dropdown-item:hover::before{
	width: 100%;

}

.wb-bg-banner{
	height: 92vh;
	background:url('../img/banner.jpg') no-repeat center center/cover;
}
.jumbotron{
	margin-bottom:15%;
	height: 35vh;
}
#title{
	padding-bottom:2%;
	font-size: 20px;
	text-align: center;
}
p{
	text-align: right;
}

